.git
.gitignore
.idea
.vscode
*.swp
*.swo
docker/
extracted_images/
eyecare_mobile/
konseptsiya.docx
README.md
API_DOCUMENTATION.md
backend/.env
backend/venv/
backend/__pycache__/
backend/logs/*
backend/uploads/*
frontend/node_modules/
frontend/.env
eyecare-bot/.env
eyecare-bot/__pycache__/
