COMPOSE_PROJECT_NAME=eyecare

APP_PORT=8092

DATABASE_URL=postgresql+asyncpg://eyecare:eyecare123@pgsql:5432/eyecare
DEBUG=false
SECRET_KEY=change-this-secret-key-min-32-chars
JWT_SECRET_KEY=change-this-jwt-key-min-32-chars
WORKERS=2
CORS_ORIGINS=["*"]

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBAPP_URL=https://eye.kuaf.uz
TELEGRAM_BOT_USERNAME=eyecare_bot

ADMIN_USERNAME=admin
ADMIN_PASSWORD=eyecare2026
ADMIN_EMAIL=admin@eyecare.uz

ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

SMS_PROVIDER=eskiz
SMS_API_URL=https://notify.eskiz.uz/api
SMS_API_KEY=
SMS_API_EMAIL=
SMS_API_PASSWORD=
SMS_SENDER_ID=EyeCare
